* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: left;
    overflow-y: auto;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1080px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    min-height: 80vh;
}

.image-container {
    flex: 1;
    display: flex;
}

.image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.form-container {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    margin: 5px 0 20px;
    font-size: 14px;
}

.disney-logo {
    display: block;
    margin: 0 auto 15px;
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
button {
    width: 100%;
    padding: 10px;
    background-color: #e8e8e8;
    font-size: 14px;
    color: dimgray;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 100px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #005bb5;
}

button:active {
    transform: scale(0.95);
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
}


.checkbox-container input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    flex-shrink: 0;
}

.checkbox-container label {
    flex: 1;
    display: block;
}